<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Fuel Consumption Report" | translate }}</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{
      "Select Vehicle" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getId(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-item style="background-color: #fafafa;">
    <ion-label>{{ "Report Type" | translate }}</ion-label>
    <ion-select [(ngModel)]="repkey">
      <ion-option *ngFor="let rep of reportType" [value]="rep" (ionSelect)="reportWise(rep)"
        [selected]="repkey === rep">{{ rep }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right;">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getReport()"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of fuelDataArr; let i = index">
    <ion-item style="border-bottom: 2px solid #dedede;" [ngClass]="{ paddClass: repkey === translate.instant('Trip') }">

      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/car_blue_icon.png" style="width: 40px; height: 40px; margin-top: -10px;" />
        </ion-col>
        <ion-col col-9>
          <p style="color:black; font-size:16px; ">
            {{ item.vehicle_name }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <p style="color:gray;font-size:11px;  text-align:left;font-weight:400;">
            <span *ngIf="item.start_time">{{ item.start_time | date: "mediumDate" }},{{
                          item.start_time | date: "shortTime"
                        }}</span>
            <span *ngIf="!item.start_time">N/A</span>&nbsp;
          </p>

          <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: bold;">
            {{'Start Time' | translate}}
          </p>

        </ion-col>
        <ion-col col-5>
          <p style="color:gray;font-size:11px;text-align:left;font-weight:400;">
            <span *ngIf="item.end_time">{{
                          item.end_time | date: "mediumDate"
                        }},{{
                          item.end_time | date: "shortTime"
                        }}</span>
            <span *ngIf="!item.end_time">N/A</span>&nbsp;
          </p>

          <p style="text-align:left;font-size: 11px;color:red; font-weight:bold;">
            {{'End Time' | translate}}
          </p>

        </ion-col>
        <ion-col col-2>
          <p style="color:gray;font-size:11px; font-weight: 400;">
            <span *ngIf="item.fuel_consumed">{{ item.fuel_consumed | number: "1.0-2" }}</span>
            <span *ngIf="!item.fuel_consumed">00.00</span>&nbsp;
          </p>

          <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
            {{
                  "Fuel Con(Litre)" | translate
                }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-5>
          <p style="color:gray;font-size:11px; margin-top: -9px; font-weight:400;">
            <span *ngIf="item.in_event_count > 0" tappable
              (click)="getFuelNotifs(item, 'IN')">{{ item.in_event_count }}</span>
            <span *ngIf="item.in_event_count === 0">{{ item.in_event_count }}</span>&nbsp;
          </p>
          <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
            {{
                  "In event count" | translate
                }}
          </p>
        </ion-col>
        <ion-col col-5>
          <p style="color:gray;font-size:11px; margin-top: -9px; font-weight: 400;">
            <span *ngIf="item.out_event_count > 0" tappable
              (click)="getFuelNotifs(item, 'OUT')">{{ item.out_event_count }}</span>
            <span *ngIf="item.out_event_count === 0">{{ item.out_event_count }}</span>&nbsp;
          </p>

          <p style="font-size: 11px;color:#11c1f3;  font-weight:bold;">
            {{
                  "Out event count" | translate
                }}
          </p>

        </ion-col>
        <ion-col col-2>
          <p style="color:gray;font-size:11px; margin-top: -9px; font-weight:400;">
            <span *ngIf="item.distance">{{
                    item.distance | number: "1.0-2"
                  }}</span>
            <span *ngIf="!item.distance">0</span>&nbsp;
          </p>

          <p style="font-size: 11px;color:#e6c917; font-weight:bold;">
            {{'Distance(Kms)' | translate}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:1%;font-size: 0.8em;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#33c45c;font-size:15px;"></ion-icon>
        </ion-col>
        <!-- <ion-col col-11 *ngIf="item.start_location === 'NA'" style="color:gray;font-size:11px;font-weight: 400;">N/A
        </ion-col> -->
        <ion-col col-11 (onCreate)="start_address(item, i)" class="colSt2">
          <div class="overme">
            {{ item.StartLocation }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="font-size: 0.8em;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon>
        </ion-col>
        <!-- <ion-col col-11 *ngIf="item.end_location === 'NA'" style="color:gray;font-size:11px;font-weight: 400;">N/A
        </ion-col> -->
        <ion-col col-11 (onCreate)="end_address(item, i)" class="colSt2">
          <div class="overme">
            {{ item.EndLocation }}
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- <ion-card-header no-padding>
      <ion-item *ngIf="repkey !== translate.instant('Trip')">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png" />
        </ion-avatar>
        <ion-label>{{ r.vehicle_name }}</ion-label>
      </ion-item>
    </ion-card-header> -->
    <!-- <ion-card-content
      [ngClass]="{ paddClass: repkey === translate.instant('Trip') }"
    >
      <ion-row
        style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;"
      >
        <ion-col col-4 ion-text text-wrap>{{
          "Start Time" | translate
        }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{ "End Time" | translate }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{
          "Distance(Kms)" | translate
        }}</ion-col>
      </ion-row>
      <ion-row
        style="color:gray;font-size:11px; text-align:left;font-weight: 400;"
      >
        <ion-col col-4 ion-text text-wrap
          >{{ r.start_time | date: "mediumDate" }},{{
            r.start_time | date: "shortTime"
          }}</ion-col
        >
        <ion-col col-4 ion-text text-wrap>{{
          r.end_time | date: "mediumDate"
        }},{{
          r.end_time | date: "shortTime"
        }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{
          r.distance | number: "1.0-2"
        }}</ion-col>
      </ion-row>

      <ion-row
        style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;"
      >
        <ion-col col-4 ion-text text-wrap>{{
          "Fuel Con(Litre)" | translate
        }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{
          "In event count" | translate
        }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{
          "Out event count" | translate
        }}</ion-col>
      </ion-row>
      <ion-row
        style="color:gray;font-size:11px; text-align:left;font-weight: 400;"
      >
        <ion-col col-4>{{ r.fuel_consumed | number: "1.0-2" }}</ion-col>
        <ion-col
          col-4
          *ngIf="r.in_event_count > 0"
          tappable
          (click)="getFuelNotifs(r, 'IN')"
          >{{ r.in_event_count }}</ion-col
        >
        <ion-col col-4 *ngIf="r.in_event_count === 0">{{
          r.in_event_count
        }}</ion-col>
        <ion-col
          col-4
          *ngIf="r.out_event_count > 0"
          tappable
          (click)="getFuelNotifs(r, 'OUT')"
          >{{ r.out_event_count }}</ion-col
        >
        <ion-col col-4 *ngIf="r.out_event_count === 0">{{
          r.out_event_count
        }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1
          ><ion-icon name="pin" style="color:#33c45c;font-size:15px;"></ion-icon
        ></ion-col>
        <ion-col
          col-11
          *ngIf="r.start_location === 'NA'"
          style="color:gray;font-size:11px;font-weight: 400;"
          >N/A</ion-col
        >
        <ion-col (onCreate)="start_address(r, i)" class="colSt2">
          <div class="overme">
            {{ r.addres }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1
          ><ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon
        ></ion-col>
        <ion-col
          col-11
          *ngIf="r.end_location === 'NA'"
          style="color:gray;font-size:11px;font-weight: 400;"
          >N/A</ion-col
        >
        <ion-col (onCreate)="end_address(r, i)" class="colSt2">
          <div class="overme">
            {{ r.address }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content> -->
  </ion-card>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>